/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

.parent {
  background-color: #ddd;
  margin: 10px;
  padding: 30px;
  display: flex;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: crimson;
  color: white;
}

/* Style the header */
.header {
  background-color: #5a3d2b; /*dark olive green */
  padding: 10px 10px;
  margin-bottom: 10px;
  color: #fdebb4; /* moccasin */
  text-align: center;
  font-size: 24px;
  display: flexbox;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input     /* margin-bottom: 10px; */
 {
  border: none;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
  font-size: 16px;
  border: 2px solid gray;
}

/* Style the "Add" button */
button {
  border: 2px solid #5a3d2b;

  padding: 10px;
  margin-left: 10px;
  color: #36251a;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  white-space: nowrap;
}

button:hover {
  background-color: #5a3d2b;
  color: #fdebb4; /* moccasin */
}

/* Style the "Add" button */
.button-bars {
  background-color: transparent;
  border: none;
  color: #fdebb4; /* moccasin */
  font-size: 16px;
  cursor: pointer;
  display: flex;
  width: 5%;
}

.button-bars:hover {
  background-color: transparent;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
  padding: 2px 16px;
  background-color: #800012;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 0.5rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 0.5rem; /* Firefox */
  column-gap: 0.5rem;
}

div {
  padding: 5px;
  width: 100%;
  margin: 0 auto;
}

div.listItem {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  height: 46px;
  display: inline-flex;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  visibility: hidden;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  padding-left: 10px;
}

.checkbox:checked + .label {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.new-item-form {
  display: flex;
  align-items: center;
}

.new-list-form {
  display: flex;
}

/*chips for emails*/
.chip {
  display: flex;
  padding: 0 25px;
  width: 40%;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}